@model FinalExercise.Models.StudentModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentModelsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
